

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 5rem;
}

.text{
    color: #ffb613;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #ffb613;
    border-radius: 9px;
}

.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: rgb(237, 237, 237);
    border-radius: 6px;
    border-bottom: 3px solid #ffb613;
}

img{
    margin: 0px 30px;
    height: 20px;
    width: 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:#ffb613;
    font-size: 19px;
}

.forgot-password{
    padding-left: 30px;
    margin-top: 5px;
    color:#797979;
    font-size: 18px;
}

.forgot-password span{
    color: red;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
    padding-top: 5px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #ffb613;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #ffb613;
    border: 2px solid #ffb613;
}