#role{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgb(237, 237, 237);
    padding-left: 2rem;
}

.gray1{
    margin-left: 42rem ;
    background: #ffb613;
    color: #0a0a0a;
    border: 2px solid #ffb613;
}