.navbar {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 1rem 0;
  box-shadow: 3px 3px 10px rgb(151, 151, 151);
}

.link {
  color: rgb(71, 71, 71);
  margin: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.link h2:hover{
  color: rgb(0, 0, 0);
}

/* .link2 {
  color: rgb(71, 71, 71);
  margin: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(220, 234, 128);
  border-radius: 20px;
  padding: 5px 10px;
}

.link3 {
  color: rgb(71, 71, 71);
  margin: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(220, 234, 128);
  border-radius: 20px;
  padding: 5px 10px;
} */
#responsive-navbar-nav .link:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  #responsive-navbar-nav .link {
    padding-top: 1rem;
  }
}
